{{#unless timer_tab}}
<div class="form-group no-margin-bottom mb-10">
  <label class="col-lg-2 control-label text-right">{{t 'Text'}}</label>
  <div class="col-lg-10">
    <div class="input-group">
      <span class="input-group-addon"><i class="icon-paragraph-left2"></i></span>
      {{textarea rows="5" cols="5" class="form-control" placeholder=(t "Enter text here…") value=data.text}}
    </div>
  </div>
</div>

<div class="form-group no-margin-bottom mb-10">
  <label class="col-lg-2 control-label text-right">{{t 'Points'}}</label>
  <div class="col-lg-10">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-trophy"></i></span>
      {{input class="form-control" placeholder=(t "Enter max points value here…") value=data.points}}
    </div>
  </div>
</div>
{{/unless}}

{{#if timer_tab}}
<div class="form-group no-margin-bottom mb-10">
  <label class="col-lg-2 control-label text-right">{{t 'Timer'}}</label>
  <div class="col-lg-10">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
      {{input class="form-control" placeholder=(t "Enter timer value here…") value=data.timer}}
    </div>
  </div>
</div>
{{/if}}
